<!DOCTYPE html>
                <html lang="en">
                <head>
                    <meta charset="UTF-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>ToDos</title>
                    <link rel="stylesheet" href="/stylesheet">
                </head>
                <body>
                        <h1>ToDos</h1>
                        <h2>todo1</h2><h2>todo2</h2><h2>todo3</h2><h2>todo5</h2><h2>todo6</h2>
                        <a href="/imgs" class="nature">Nature</a>
                        <a href="/quotes" class="quotes">Quotes</a>
                </body>
                </html>